@import "reset";
@import "variables";
@import "mixins";

/* 
BOX-sizing
On the rare occasion you need to override it, use something like the following:

.selector-for-some-widget {
  box-sizing: content-box;
}
*/

body {
  //background-image: url('../content/back-img.gif');
  //background-color: #000;
}
/*------------------HOME PAGE---------------HEADER----------------------------*/


/*------------------SINGEL PAGE-------------HEADER----------------------------*/
.banner {
    @include banner;
    &__body {
      background-image: url('../content/banner01.jpg');
    }
}
.banner-product {
  @include banner;
  &__body {
    background-image: url('../content/banner02.jpg');
  }
}
.banner-contactus {
  @include banner;
  &__body {
    background-image: url('../content/banner03.jpg');
  }
}
.banner-aboutus {
  @include banner;
  &__body {
    background-image: url('../content/banner04.jpg');
  }
}
/*------------------HOME PAGE---------------MAIN------------------------------*/
.mainparts img, .shop img {
  width: 100%;
}
//--------------------------
// MAINPARTS
//--------------------------
.mainparts {
    margin: 30px 0px;
    &__body{
      border-bottom: 1px solid #000;
      padding-bottom: 20px;
    }
    &__title {
      margin-top: 20px
    }
}

//--------------------------
// SHOP
//--------------------------

.shop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../content/imgshop01.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;

    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: black;
      background-color: #ddd;
      text-align: center;
      cursor: pointer;
    }
    button:hover {
      background-color: #555;
      color: white;
    }
  }
}



/*------------------HOME PAGE---------------FOOTER----------------------------*/
.footer {
    background-color: #5d4037;
    margin: 20px 0 0 0;
    padding: 20px 10px;
    text-align: center;
    &__copyright {

      p {
        color: #fff;
        margin: 20px 0;
      }

    }
  }
/*----------------------------------------OUR PRODUCT------------------------*/
.product {
  padding: 15px;
  &__header {
    text-align: center;
    font-size: 26px;
  }
  &__body {
    margin: 10px 0px;
    box-shadow: 0px 0px 5px #e0e0e0;
    padding: 10px 10px;
  }
  &__title {
    color: green;
    font-size: 22px;
  }
}

/*----------------------------------------ABOUT US PAGE------------------------*/

/*----------------------------------------CONTACT PAGE-------------------------*/

.form {
  &__group{
    margin: 20px 10px;
  }
  &__button{
    margin: 10px;
  }
}

/*-------------------------------------------------Medium devices-----------------------------------------------*/
@media (min-width: 768px) {
/*--------------------------header-----------*/
  header {
    padding: 0 20px;
  }
/*------------------------Slideshow-----------*/
  .carousel  {
    padding: 0px;
  }
/*------------------------mainparts-----------*/
  .mainparts {
    
    &__body {
      box-shadow: 0 0 5px #e0e0e0 ;
      padding: 10px;
      border: none;
    }
  }
/*------------------------shop-----------------*/
  .shop {
    height: 300px;
  }

}
/*-------------------------------------------------Large devices-------------------------------------------------*/
@media (min-width: 992px) {
  //-----------------------------header
  header{
    padding: 0px;
    background-color:#5d4037;
  }
  .bg-light {
    max-width: 960px;
    margin: 0px auto;
    --bs-bg-opacity: none;
  }
  .navbar-expand-lg .navbar-collapse{
    display: contents !important;
  }
  //----------------------------header singelPage
  .banner, .banner-product, .banner-aboutus, .banner-contactus {
    min-height: 250px;
  }
  .product {
    padding: 20px 0px;
    &__body {
      padding: 20px 10px;
    }
  }
}

/*-------------------------------------------------X-Large devices-------------------------------------------------*/
@media (min-width: 1200px) {
  //-----------------------------header
  .bg-light {
    max-width: 1140px;
  }
}
/*-------------------------------------------------XX-Large devices-------------------------------------------------*/
@media (min-width: 1200px) {
  //-----------------------------header
  .bg-light {
    max-width: 1320px;
  }
}