@import "reset";
@import "variables";
@import "mixins";

/* 
BOX-sizing
On the rare occasion you need to override it, use something like the following:

.selector-for-some-widget {
  box-sizing: content-box;
}
*/

body {
  //background-image: url('../content/back-img.gif');
  //background-color: #000;
}
/*------------------HOME PAGE---------------HEADER----------------------------*/
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-brand {
  color: $black;
}
.navbar-brand {
  font-family: $font-family-logo;
  font-size: $font-28-large;
  span {
    text-shadow: 1px 1px 20px $cyber-yellow;
    color: $dark-orange;
  }
}

.nav-item {
  font-family: $font-family-menu;
  font-weight: 400;
  font-size: $font-28-large;
}
.navbar-light .navbar-nav .nav-link{
  color: $black;
  &:hover {
    color: $orange-soda;
  }
}
.navbar-light .navbar-nav .nav-link.active {
  color: $dark-orange;
}

.moveselector {
  height: 260px;
  animation-name: moveup;
  animation-duration : 3s;
  animation-delay : 1s;
  animation-fill-mode: both;
}
@keyframes moveup {
  from {top:0px; opacity: 0;}
  to {top: 400px; opacity: 1;}
}

/*------------------SINGEL PAGE-------------HEADER----------------------------*/
.banner {
    @include banner;
    &__body {
      background-image: url('../content/banner01.jpg');
    }
}
.banner-product {
  @include banner;
  &__body {
    background-image: url('../content/banner02.jpg');
  }
}
.banner-contactus {
  @include banner;
  &__body {
    background-image: url('../content/banner03.jpg');
  }
}
.banner-aboutus {
  @include banner;
  &__body {
    background-image: url('../content/banner01.jpg');
  }
}
/*------------------HOME PAGE---------------MAIN------------------------------*/
.meinpart {
  padding: 0 20px;
}

.mainparts img, .shop img {
  width: 100%;
}
//--------------------------
// MAINPARTS
//--------------------------
.mainparts {
    margin: 30px 0px;
    &__body{
      border-bottom: 1px solid #000;
      padding-bottom: 20px;
      background-color: #fff;
    }
    &__title {
      margin-top: 20px
    }
    &__link {
      background-color: $dark-orange;
      border-color: $dark-orange;
      color: $black;
      &:hover {
        background-color: $cyber-yellow;
        border-color: $cyber-yellow;
      }
    }
}

//--------------------------
// SHOP
//--------------------------

.shop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../content/imgshop01.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;

  }
}



/*------------------HOME PAGE---------------FOOTER----------------------------*/
.footer {
    @include headerfooterbackcolor;
    margin: 0;
    padding: 20px 10px 10px 10px;
    text-align: center;
    &__content {
      padding: 20px 0;
    }
    &__maps {
      border: 5px solid $dark-orange;
    }
    &__copyright {

      p {
        color: $dark-orange;
        margin: 20px 0;
      }

    }
    a {
      color: $black;
    }
  }
/*----------------------------------------OUR PRODUCT------------------------*/
.product {
  padding: 37px !important;
  &__header {
    text-align: center;
    font-size: 26px;
  }
  &__body {
    margin: 10px 0px;
    box-shadow: 0px 0px 5px #e0e0e0;
    padding: 10px 10px;
    background-color: #fff;
  }
  &__title {
    color: $dark-orange;
    font-size: 22px;
  }
}

/*----------------------------------------ABOUT US PAGE------------------------*/
.about-us {
  min-height: 500px;
  padding: 40px 15px;
  h3 {
    font-family: $font-family-menu;
    font-size: $font-36-xlarge;
  }
  p {
    font-family: $font-family-menu;
    font-size: $font-24-medium;
    line-height: 2em;
  }
}
.banner-aboutus {
  margin: 0px;
}
/*----------------------------------------CONTACT PAGE-------------------------*/
.contact-us {
  padding: 20px;
  font-family: $font-family-menu;
  h4 {
    font-size: $font-28-large;
    padding: 20px 0;
  }
  h3 {
    font-size: $font-36-xlarge;
    padding: 20px 0;
  }
  p {
    font-size: $font-16-small
  }
}


.form {
  &__group{
    margin: 20px 10px;
  }
  &__button{
    margin: 10px;
  }
}

/*-------------------------------------------------Medium devices-----------------------------------------------*/
@media (min-width: 768px) {
/*--------------------------header-----------*/
  header {
    padding: 0 20px;
  }
  .navbar-brand {
    font-size: $font-36-xlarge;
  }
  
/*------------------------Slideshow-----------*/
  .carousel  {
    padding: 0px;
  }
/*------------------------mainparts-----------*/
.container-size {
  max-width: 100%;
}  
.container-size-main {
  max-width: 736px;
  margin: auto;
}
.mainparts {
    
    &__body {
      box-shadow: 0 0 15px $silver;
      padding: 2em;
      border: none;
      }
    }
/*------------------------shop-----------------*/
  .shop {
    height: 300px;
  }
/*------------------------footer------------------*/
  .footer {
    &__maps {
      
    }
  }
}
/*-------------------------------------------------Large devices-------------------------------------------------*/
@media (min-width: 992px) {
  //-----------------------------header
  .header{
    @include headerfooterbackcolor;
    padding: 0px;
  }
  .bg-light {
    max-width: 960px;
    margin: 0px auto;
    --bs-bg-opacity: none;
  }
  .navbar-expand-lg .navbar-collapse{
    display: contents !important;
  }
  //----------------------------header homegape
  .carousel {
    height: 90%;
  }
  .carousel-inner {
    max-height: 850px;
  }
  .carousel-indicators {
    margin-bottom: 1rem;
  }
  .carousel-caption {
    bottom: 37%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 55%;
    margin: auto;
    border: 1px solid $dark-orange;
    h5 {
      font-size: $font-36-xlarge;
    }
    p {
      font-size: $font-16-small;
    }
  }

  //----------------------------header singelPage
  .banner, .banner-product, .banner-aboutus, .banner-contactus {
    min-height: 400px;
  }
  .banner-contactus__body, .banner-aboutus__body, .banner-product__body {
    padding-top: 8%;
  }
  .product {
    padding: 25px;
    &__body {
      padding: 20px 10px;
    }
  }
  .container-size-main {
    max-width: 976px;
  } 
  //-------------------------------footer
  .footer {
  
  }
  
}

/*-------------------------------------------------X-Large devices-------------------------------------------------*/
@media (min-width: 1200px) {
  //-----------------------------header
  .bg-light {
    max-width: 1140px;
  }

  .container-size-main {
    max-width: 1150px;
  } 

  //---------------------------footer
  .footer {
   
  }
  
}
/*-------------------------------------------------XX-Large devices-------------------------------------------------*/
@media (min-width: 1400px) {
  //-----------------------------header
  .bg-light {
    max-width: 1320px;
  }

  .container-size-main {
    max-width: 1335px;
  } 

  .carousel-caption {
    bottom: 55%;
    padding: 15px;
    h5 {
      font-size: 3em;
    }
    p {
      font-size: 2em;
    }
  }

  //----------------------------footer
  .footer {
   
  }
  
}