// Variable

//-------------------------
// breakpoint size
//-------------------------
$breakpoint-xs: 500px;
$breakpoint-sm: 768px;
$breakpoint-md: 1025px;
$breakpoint-lg: 1300px;
//-------------------------
// color
//-------------------------
$blue: #2962ff;
$dark-blue: #0039cb;
$light-blue: #768fff;
$grey: #424242;
$light-grey: #313131;
$light-grey-text: #bbbbbb;
$light-grey-border: #bdbdbd;
$white: #fff;
$black: #000;
$red: #d32f2f;

//-------------------------
// font size
//-------------------------
$sectionHeading : 24px;

